@model IEnumerable<Projekt.Data.Data.CMS.Site>


<li>
    @Html.ActionLink("FAQ", "Index", "Faq")
</li>
@foreach (var item in Model)
{
    <li>
        @Html.ActionLink(item.Id.ToString(),"Details","Site", new {id=item.Id}, null)
    </li>
}