@model IEnumerable<Projekt.Data.Data.CMS.Site>


<nav>
    <div class="nav-wrapper container">
        <a href="#" class="brand-logo">GoodBeef</a>
        <ul class="right hide-on-med-and-down">
            <li>
                @Html.ActionLink("Sklep", "Shop", "Home")
            </li>
            <li>
                @Html.ActionLink("Blog", "Blog", "Home")
            </li>
            <li>
                @Html.ActionLink("FAQ", "Faq", "Home")
            </li>
            @foreach (var item in Model)
            {
                <li>
                    @Html.ActionLink(item.Id.ToString(),"Index","Site", new {id=item.Id}, null)
                </li>
            }
        </ul>
    </div>
</nav>
