@model IEnumerable<Projekt.Data.Data.CMS.Site>


<nav>
    <div class="nav-wrapper container">
        <a href="#" class="brand-logo">GoodBeef</a>
        <ul class="right hide-on-med-and-down">
            <li>
                @Html.ActionLink("Sklep", "Index", "Shop")
            </li>
            <li>
                @Html.ActionLink("Blog", "Index", "Blog")
            </li>
            <li>
                @Html.ActionLink("FAQ", "Index", "Faq")
            </li>
            @foreach (var item in Model)
            {
                <li>
                    @Html.ActionLink(item.Id.ToString(),"Details","Site", new {id=item.Id}, null)
                </li>
            }
        </ul>
    </div>
</nav>
