@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vestibulum tellus justo, nec vulputate leo semper quis. Fusce tempor ipsum non aliquam placerat. Donec lorem leo, dictum sed vulputate vel, elementum at libero. Aenean id ante non risus luctus interdum. Proin vehicula libero consectetur purus imperdiet malesuada. Quisque sed maximus sapien. Phasellus nec dolor vel ligula finibus vestibulum vitae ut sem. Nulla ac ex turpis.

        Sed lacus mauris, convallis ut ultrices a, interdum ac neque. Suspendisse tincidunt ex nec blandit efficitur. Proin vel orci a leo interdum efficitur. Sed vehicula tempor ex id commodo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque porta consectetur efficitur. Maecenas quis ligula scelerisque, finibus eros a, condimentum odio. Praesent non fringilla metus. Vivamus et sapien elit. Quisque faucibus tristique nisl, nec vulputate libero vestibulum ultricies. Vestibulum laoreet lectus ut lacus venenatis suscipit. Nunc nec blandit augue, vel pharetra magna.
    </p>
</div>
