@{
    ViewData["Title"] = "Najczęściej zadawane pytania";
}
<h2>@ViewData["Title"]</h2>
 
<div class="row">
    <ul class="collapsible">
        <li>
            <div class="collapsible-header"><i class="material-icons">question_answer</i>Czy mięso jest przebadane?</div>
            <div class="collapsible-body"><span>Sed lacus mauris, convallis ut ultrices a, interdum ac neque. Suspendisse tincidunt ex nec blandit efficitur. Proin vel orci a leo interdum efficitur. Sed vehicula tempor ex id commodo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque porta consectetur efficitur. Maecenas quis ligula scelerisque, finibus eros a, condimentum odio. Praesent non fringilla metus. Vivamus et sapien elit. Quisque faucibus tristique nisl, nec vulputate libero vestibulum ultricies. Vestibulum laoreet lectus ut lacus venenatis suscipit. Nunc nec blandit augue, vel pharetra magna..</span></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">question_answer</i>Jak długo trzeba czekać na przesyłkę?</div>
            <div class="collapsible-body"><span>Phasellus tempus sem ipsum, ut aliquet diam accumsan non. Maecenas neque dolor, ullamcorper eget dolor in, viverra vulputate lacus. Nam imperdiet posuere quam in molestie. Sed scelerisque nulla ac ligula posuere, quis sagittis augue scelerisque. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur maximus gravida lectus, id posuere diam. Phasellus cursus ante nec quam molestie dignissim. Nunc placerat, orci non dapibus imperdiet, ligula diam facilisis lacus, lacinia sollicitudin urna ligula vitae eros. Vivamus ornare dui vel quam euismod tempor. Cras sit amet laoreet mi. Cras nec ligula varius mi maximus porta. Duis in magna non massa pulvinar imperdiet. Nullam nisi augue, laoreet in nulla sed, dictum rhoncus elit. Cras vulputate dolor molestie, consectetur tortor vitae, gravida arcu. Quisque at lectus ac eros tempus viverra et sed dui. s provided by the framework. See the documentation for more information.</span></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">question_answer</i>Czy mięso sienie zepsuje podczas transportu?</div>
            <div class="collapsible-body"><span>Phasellus fringilla est a tristique malesuada. Vivamus et velit a arcu pretium porta ac a ex. Nullam quis lectus hendrerit, pellentesque quam sed, posuere elit. In hac habitasse platea dictumst. Maecenas risus nunc, vestibulum eu hendrerit sed, luctus eget erat. Curabitur sed lacinia orci. Vivamus in risus vitae turpis ultrices cursus. Donec egestas interdum mi id egestas. Morbi venenatis sapien at metus ultrices blandit. Mauris sed ipsum nec velit fringilla luctus eget nec eros. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum auctor, nisi dignissim eleifend tristique, est enim semper dolor, quis volutpat felis sapien lacinia diam. Sed facilisis, diam a dictum rhoncus, ex elit interdum ante, ac iaculis quam libero vitae ex. Sed et eros ac nibh sagittis luctus et eu neque. Morbi aliquet tempor felis et mollis. In purus massa, condimentum vel nisl nec, malesuada scelerisque massa.</span></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">question_answer</i>Czy mięso jest przebadane?</div>
            <div class="collapsible-body"><span>Sed lacus mauris, convallis ut ultrices a, interdum ac neque. Suspendisse tincidunt ex nec blandit efficitur. Proin vel orci a leo interdum efficitur. Sed vehicula tempor ex id commodo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque porta consectetur efficitur. Maecenas quis ligula scelerisque, finibus eros a, condimentum odio. Praesent non fringilla metus. Vivamus et sapien elit. Quisque faucibus tristique nisl, nec vulputate libero vestibulum ultricies. Vestibulum laoreet lectus ut lacus venenatis suscipit. Nunc nec blandit augue, vel pharetra magna..</span></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">question_answer</i>Jak długo trzeba czekać na przesyłkę?</div>
            <div class="collapsible-body"><span>Phasellus tempus sem ipsum, ut aliquet diam accumsan non. Maecenas neque dolor, ullamcorper eget dolor in, viverra vulputate lacus. Nam imperdiet posuere quam in molestie. Sed scelerisque nulla ac ligula posuere, quis sagittis augue scelerisque. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur maximus gravida lectus, id posuere diam. Phasellus cursus ante nec quam molestie dignissim. Nunc placerat, orci non dapibus imperdiet, ligula diam facilisis lacus, lacinia sollicitudin urna ligula vitae eros. Vivamus ornare dui vel quam euismod tempor. Cras sit amet laoreet mi. Cras nec ligula varius mi maximus porta. Duis in magna non massa pulvinar imperdiet. Nullam nisi augue, laoreet in nulla sed, dictum rhoncus elit. Cras vulputate dolor molestie, consectetur tortor vitae, gravida arcu. Quisque at lectus ac eros tempus viverra et sed dui. s provided by the framework. See the documentation for more information.</span></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">question_answer</i>Czy mięso sienie zepsuje podczas transportu?</div>
            <div class="collapsible-body"><span>Phasellus fringilla est a tristique malesuada. Vivamus et velit a arcu pretium porta ac a ex. Nullam quis lectus hendrerit, pellentesque quam sed, posuere elit. In hac habitasse platea dictumst. Maecenas risus nunc, vestibulum eu hendrerit sed, luctus eget erat. Curabitur sed lacinia orci. Vivamus in risus vitae turpis ultrices cursus. Donec egestas interdum mi id egestas. Morbi venenatis sapien at metus ultrices blandit. Mauris sed ipsum nec velit fringilla luctus eget nec eros. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum auctor, nisi dignissim eleifend tristique, est enim semper dolor, quis volutpat felis sapien lacinia diam. Sed facilisis, diam a dictum rhoncus, ex elit interdum ante, ac iaculis quam libero vitae ex. Sed et eros ac nibh sagittis luctus et eu neque. Morbi aliquet tempor felis et mollis. In purus massa, condimentum vel nisl nec, malesuada scelerisque massa.</span></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">question_answer</i>Czy mięso jest przebadane?</div>
            <div class="collapsible-body"><span>Sed lacus mauris, convallis ut ultrices a, interdum ac neque. Suspendisse tincidunt ex nec blandit efficitur. Proin vel orci a leo interdum efficitur. Sed vehicula tempor ex id commodo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque porta consectetur efficitur. Maecenas quis ligula scelerisque, finibus eros a, condimentum odio. Praesent non fringilla metus. Vivamus et sapien elit. Quisque faucibus tristique nisl, nec vulputate libero vestibulum ultricies. Vestibulum laoreet lectus ut lacus venenatis suscipit. Nunc nec blandit augue, vel pharetra magna..</span></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">question_answer</i>Jak długo trzeba czekać na przesyłkę?</div>
            <div class="collapsible-body"><span>Phasellus tempus sem ipsum, ut aliquet diam accumsan non. Maecenas neque dolor, ullamcorper eget dolor in, viverra vulputate lacus. Nam imperdiet posuere quam in molestie. Sed scelerisque nulla ac ligula posuere, quis sagittis augue scelerisque. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur maximus gravida lectus, id posuere diam. Phasellus cursus ante nec quam molestie dignissim. Nunc placerat, orci non dapibus imperdiet, ligula diam facilisis lacus, lacinia sollicitudin urna ligula vitae eros. Vivamus ornare dui vel quam euismod tempor. Cras sit amet laoreet mi. Cras nec ligula varius mi maximus porta. Duis in magna non massa pulvinar imperdiet. Nullam nisi augue, laoreet in nulla sed, dictum rhoncus elit. Cras vulputate dolor molestie, consectetur tortor vitae, gravida arcu. Quisque at lectus ac eros tempus viverra et sed dui. s provided by the framework. See the documentation for more information.</span></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">question_answer</i>Czy mięso sienie zepsuje podczas transportu?</div>
            <div class="collapsible-body"><span>Phasellus fringilla est a tristique malesuada. Vivamus et velit a arcu pretium porta ac a ex. Nullam quis lectus hendrerit, pellentesque quam sed, posuere elit. In hac habitasse platea dictumst. Maecenas risus nunc, vestibulum eu hendrerit sed, luctus eget erat. Curabitur sed lacinia orci. Vivamus in risus vitae turpis ultrices cursus. Donec egestas interdum mi id egestas. Morbi venenatis sapien at metus ultrices blandit. Mauris sed ipsum nec velit fringilla luctus eget nec eros. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum auctor, nisi dignissim eleifend tristique, est enim semper dolor, quis volutpat felis sapien lacinia diam. Sed facilisis, diam a dictum rhoncus, ex elit interdum ante, ac iaculis quam libero vitae ex. Sed et eros ac nibh sagittis luctus et eu neque. Morbi aliquet tempor felis et mollis. In purus massa, condimentum vel nisl nec, malesuada scelerisque massa.</span></div>
        </li>
</div>

<script>
    $(document).ready(function () {
        $('.collapsible').collapsible();
    });
</script>