@{
    ViewData["Title"] = "Credits";
}
<h1>@ViewData["Title"]</h1>

Used Photos : 
<ul>
    <li>
        Photo by <a href="https://unsplash.com/pt-br/@@ninjason?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Jason Leung</a> on 
        <a href="https://unsplash.com/photos/WmTK_QfDxlE?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
    </li>
    <li>
        Photo by
        <a href="https://unsplash.com/@@shootdelicious?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Eiliv Aceron</a> on
        <a href="https://unsplash.com/photos/AQ_BdsvLgqA?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
    </li>
    <li>
        Photo by <a href="https://unsplash.com/@@macrz?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Kyle Mackie</a> on 
        <a href="https://unsplash.com/photos/MEnlQv-EQvY?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
    </li>
    <li>
        Photo by <a href="https://unsplash.com/@@macrz?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Kyle Mackie</a> on
        <a href="https://unsplash.com/photos/1rEKYxooCh4?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
    </li>
    <li>
        Photo by <a href="https://unsplash.com/@@mham3816?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Madie Hamilton</a> on
        <a href="https://unsplash.com/photos/GXehL5_crJ4?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
    </li>
    <li>
        Photo by <a href="https://unsplash.com/@@mham3816?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Madie Hamilton</a> on
        <a href="https://unsplash.com/photos/l9vXx8aEYJ8?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
    </li>

    <li>
        <a href="https://materializecss.com/">meterializre</a>
    </li>

    <li>
        <a href="https://getbootstrap.com/">bootstrap</a>
    </li>
</ul>
