@{
    ViewData["Title"] = "Sklep";
}

<div class="row">
    <div class="col s12">
        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                    <img class="materialboxed" height="350" style="object-fit: cover;" src="/img/beef_1.jpg">
                    <span class="primary_text card-title secondary_bg col s12">Antrykot b/k</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light primary_bg"><i class="material-icons">add_shopping_cart</i></a>
                </div>
                <div class="card-content">
                    <p>Przepyszny antrykot, można wykorzystać do przygotowania steków, zupełnie takich samych jakie jadł chuck noris </p>
                </div>
                <div class="card-action">
                  <a class="primary_link" href="#">Kup teraz <i class="tiny material-icons">add_shopping_cart</i></a>
                  <span class="price"> 75,00 PLN </span>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                    <img class="materialboxed" height="350" style="object-fit: cover;" src="/img/beef_2.jpg">
                    <span class="primary_text card-title secondary_bg col s12">Polędwica Wołowa</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light primary_bg"><i class="material-icons">add_shopping_cart</i></a>
                </div>
                <div class="card-content">
                    <p>Kwintesensja Wołowiny! Każdy w swoim życiu powinien spróbować ten arcykluczowy kawałek mięsa, chociaż raz.</p>
                </div>
                <div class="card-action">
                  <a class="primary_link" href="#">Kup teraz <i class="tiny material-icons"></i></a>
                    <span class="price"> 150,00 PLN </span>
                </div>
            </div>
        </div>

        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                    <img class="materialboxed" height="350" style="object-fit: cover;" src="/img/beef_3.jpg">
                    <span class="primary_text card-title secondary_bg col s12">Card Title</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light primary_bg"><i class="material-icons">add_shopping_cart</i></a>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <a class="primary_link" href="#">Kup teraz <i class="tiny material-icons"></i></a>
                    <span class="price"> $49.99 </span>
                </div>
            </div>
        </div>

        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                    <img class="materialboxed" height="350" style="object-fit: cover;" src="/img/beef_4.jpg">
                    <span class="primary_text card-title secondary_bg col s12">Card Title</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light primary_bg"><i class="material-icons">add_shopping_cart</i></a>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                  <a class="primary_link" href="#">Kup teraz <i class="tiny material-icons"></i></a>
                  <span class="price"> $49.99 </span>
                </div>
            </div>
        </div>

        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                    <img class="materialboxed" height="350" style="object-fit: cover;" src="/img/beef_5.jpg">
                    <span class="primary_text card-title secondary_bg col s12">Card Title</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light primary_bg"><i class="material-icons">add_shopping_cart</i></a>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                  <a class="primary_link" href="#">Kup teraz <i class="tiny material-icons"></i></a>
                  <span class="price"> $49.99 </span>
                </div>
            </div>
        </div>

        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                    <img class="materialboxed" height="350" style="object-fit: cover;" src="/img/beef_6.jpg">
                    <span class="primary_text card-title secondary_bg col s12">Card Title</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light primary_bg"><i class="material-icons">add_shopping_cart</i></a>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                  <a class="primary_link" href="#">Kup teraz <i class="tiny material-icons"></i></a>
                  <span class="price"> $49.99 </span>
                </div>
            </div>
        </div>
    </div>
</div>
